<!DOCTYPE html>
<html lang="en">
    <head>
        
        
        
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
                
        <script type="/text/javascript" src="js/menu.js" defer></script>
        
        <script src="js/js_script.js" defer></script> 
        
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="js/vue_script.js" defer></script> 
        

        <title>Bürger TJOHOO</title>
        <meta charset="utf-8"/>
    </head>
    
<body>
    <main>
        
        <section class="header">
        <img src="/img/pommesfrites.jpg" alt="Pommes frites" title="pommes" id="pommes">
            
        <h1 id="welcome">Välkommen till BürgerOnline </h1>
        </section>
            
        <section class="burgare">
        <h2>Välj din Bürger</h2>
        <div>Välj bland följande bürgare:</div>
        <br />
            
        <div id = "burgerMenu" class="super-grid">
            <div v-for="burger in burgers">
                <h3>{{ burger.name }}</h3>
                
                <img v-bind:src=burger.img width="300" height="300">
                
                {{ burger.kCal }}
                
                <ul>
                <li v-for="add in burger.adds">                   
                    {{ add }}

                 </li>
                 </ul>

                <span v-if="burger.lactose">laktosfri</span> 
                <span v-if="burger.gluten">glutenfri</span>
            </div>
        </div>
            
<!--
        <div class="wrapper">

                <div class="Box halloumi"><h3>Halloumibürger</h3></div>
                <div class="Box cheeze"><h3>Cheezebürgare</h3></div>
                <div class="Box green"><h3>Greenbürgare</h3></div>

                <div class="Box imghalloumi"> <img src="img/halloumiburgare.jpg" alt="halloumiburgare" title="Halloumi" width="300" height="300"></div>
                <div class="Box imgcheeze"><img src="img/cheezebürgare.jpg" alt="cheezeburgare" title="Cheeze" width="330" height="300"></div>
                <div class="Box imggreen"><img src="img/greenburgare.jpg" alt="Greenburgare" title="Green" width="300" height="300"></div>
              
                <div class="Box inghalloumi">
                    <ul> 
                    <li>Picklad rödlök</li>      
                    <li>Soltorkadtomat</li>
                        
                    <section class="laktos">
                    <li>Halloumi <span id="laktos">(laktos)</span></li>
                    </section>
                        
                    <li>Avokado</li>
                    <li>Ruccola</li>
                    
                    <section class="laktos">
                    <li>Bürgerdressing <span id="laktos">(laktos)</span></li>
                    </section>
                        
                    <section class="gluten">
                    <li>Briochebröd <span id="gluten">(gluten)</span></li>
                    </section>
                </ul></div>

                <div class="Box ingcheeze">
                    <ul>
                    <li>Karmelliserad lök</li>
                    
                    <section class="laktos">
                    <li>Cheddar <span id="laktos">(laktos)</span></li>
                    </section>
                    
                    <li>Vegopuck</li> 
                    <li>Tomat</li>
                    <li>Sallad</li>
                        
                    <section class="laktos">
                    <li>Sirachadressing <span id="laktos">(laktos)</span></li>
                    </section>
                    
                    <section class="gluten">
                    <li>Bürgerbröd <span id="gluten">(gluten)</span></li>
                    </section>
                </ul></div>

                <div class="Box inggreen">
                    <ul>
                    <li>Rödkål</li>
                    
                    <section class="egg">
                    <li>Chilimayo <span id="egg">(ägg)</span></li>
                    </section>

                    <li>Vegopuck</li>
                    <li>Guacamole</li>
                    <li>Sallad</li>
                    
                    <section class="gluten">
                    <li>Bürgerbröd <span id="gluten">(gluten)</span></li>
                    </section>
                    
                </ul></div>
        </div>      
        </section>
-->
        
        <section class="costumer">
            <h3>Kundinformation</h3>
            <div>Här fyller du i nödvändiga personuppgifter</div>
            <h4>Kontaktuppgifter för hemkörning</h4>
        
        <form>
            <p>
            <label for="Name">Namn</label><br>
            <input type="text" id="name" name="fn" required="required" placeholder="För- och efternamn">
            </p>
            
            <p>
            <label for="email">E-mail</label><br>
            <input type="text" id="email" name="ln" placeholder="E-mailadress">
            </p>
            
            <p>
            <label for="adress">Adress</label><br>
            <input type="text" id="street" name="em" required="required" placeholder="Gata"><br>
            <input type="text" id="housenr" name="em" reguired="required" placeholder="Husnummer"><br>
            </p>

            <p>
            <label for="payment">Betalning</label><br>
            <select id="payment" name="rcp">
                <option>Kreditkort</option>
                <option>Kontokort</option>
                <option>Faktura</option>
                <option>Presentkort</option>
            </select>
            </p>

            <p>
            <label for="gender">Ange kön</label><br>
            <input type="radio" name="gender" value="Kvinna" checked="checked"> Kvinna <br>
            <input type="radio" name="gender" value="Man"> Man<br>
            <input type="radio" name="gender" value="Vill ej ange"> Vill ej ange<br>
            </p>  
        </form>
        <br /> 
        </section>
        <br />
        
        <section class="button">
            <button type="submit"><img src="/img/burgare.jpg" width="20" height="20"> BESTÄLL NU! <img src="/img/burgare.jpg" width="20" height="20"></button>
        </section>

        <br />
        <hr style="border: 1px solid black;" />
        <br />
        
        <p>&copy; 2019 Alvaefr Inc<p>
        <p>In case of supersize: Contact your local doctor</p>
                
    </main>
</body>
    
</html>

