<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="css/deli-very.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="https://vuejs.org/js/vue.js" defer></script>        
        <script type="text/javascript" src="js/menu.js" defer></script>
        
        <script src="js/js_script.js" defer></script> 
        <script src="js/vue_script.js" defer></script> 
        <script src="/vue/vue.js" defer></script>
        <script src="js/deli-very.js" defer></script>
        
        <title>Bürger TJOHOO</title>
        <meta charset="utf-8"/>
    </head>
    
<body>
    <main>
        
        <div id="main">
        <section class="header">
        <img src="/img/pommesfrites.jpg" alt="Pommes frites" title="pommes" id="pommes">
            
        <h1 id="welcome">Välkommen till BürgerOnline </h1>
        </section>
          
        <section class="burgare">
        <h2>Välj din Bürger</h2>
        <div>Välj bland följande bürgare:</div>
        <br />
            
        <div class="super-grid">
            <div v-for="burger in burgers">
                <input type="checkbox" v-model="order" v-bind:value=burger.name> </input>
                
                <h3>{{ burger.name }}</h3>
                
                <img v-bind:src=burger.img width="300" height="300">
                
                <p>{{ burger.kCal }} kCal</p>
                
                <ul>
                <li v-for="add in burger.adds">                   
                    {{ add }}

                 </li>
                 </ul>

                <span v-if="burger.lactose">laktosfri</span> 
                <span v-if="burger.gluten">glutenfri</span>
            </div>
        </div>

        
        <section class="costumer">
            <h3>Kundinformation</h3>
            <div>Här fyller du i nödvändiga personuppgifter</div>
            <h4>Kontaktuppgifter för hemkörning</h4>
        
        <form>
            <p>
            <label for="Name">Namn</label><br>
            <input type="text" id="name" name="fn" required="required" v-model="fullName" placeholder="För- och efternamn">
            </p>
            
            <p>
            <label for="email">E-mail</label><br>
            <input type="text" id="email" name="ln" v-model="email" placeholder="E-mailadress" >
            </p>

            <p>
            <label for="payment">Betalning</label><br>
            <select id="payment" name="rcp" v-model="payment">
                <option value="kreditkort">Kreditkort</option>
                <option value="kontokort">Kontokort</option>
                <option value="faktura">Faktura</option>
                <option value="presentkort">Presentkort</option>
            </select>
            </p>

            <p>
            <label for="gender">Ange kön</label><br>
            <span id="genderRadio">
            <input type="radio" name="gender" value="kvinna" v-model= "gender" checked="checked"> Kvinna <br>
            <input type="radio" name="gender" v-model= "gender" value="man"> Man<br>
            <input type="radio" name="gender" v-model= "gender" value="vill ej ange"> Vill ej ange<br>
            </span>
            </p>  
        </form>
            
        <br /> 
        </section>
        <br />
            
        <h4> Var vill du ha din hamburgare? </h4>
            <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
            
            <div class="view-box">
            <div id="dots" v-on:click="addOrder">
                <div 
                  v-for="(order, key) in orders"
                  v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                  {{key}}
                </div>
            </div>
          </div>
        
        <section class="button">
            
            <button type="submit" id="myButtonID"  v-on:click="markDone"><img src="/img/burgare.jpg" width="20" height="20"> 
                BESTÄLL NU! 
            <img src="/img/burgare.jpg" width="20" height="20"></button>
            
<!--         i <button>   v-on:click="addOrder()"-->
            
            <p class="orderItems">
            {{orderList}}
            </p>
             <p class="orderItems">
            {{contactInfo}}
            </p>
            <p class="orderItems">
            {{paymentMetod}}
            </p>
            
            
            
        </section>

        <br />
        <hr style="border: 1px solid black;" />
        <br />

        <p>&copy; 2019 AlvaEfr Inc<p>
        <p>In case of supersize: Contact your local doctor</p>
            
        
            
        </div>       
    </main>
</body>
    
</html>

